* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    width: 1400px;
    height: 817px;
}

.hero {
    background-color: #1F2937;
    color: #F9FAF8;
    padding: 10px 230px 100px;
}

.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 800;
}

.links ol {
    display: flex;
    list-style: none;
    gap: 25px;
}

.links ol li {
    font-size: 18px;
}

.main-hero {
    display: flex;
    justify-content: space-between;
}

.main-hero-left {
    display: flex;
    flex-direction: column;
    width: 450px;
}

.main-hero-text {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
}

.hero-secondary-text {
    font-size: 18px;
}

.button-container button {
    border: none;
    background-color: #349aff;
    color: white;
    font-size: 18px;
    font-weight: 600;
    padding: 8px 32px;
    border-radius: 5px;
    margin-top: 20px;
    cursor: pointer;
}

.image-placeholder {
    display: flex;
    width: 450px;
    justify-content: center;
    align-items: center;
    background: #4f4c4c;
    overflow: hidden;
}

.some-random-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.information-header-text {
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
    margin-top: 40px;
    margin-bottom: 40px;
}

.info-cards {
    display: flex;
    gap: 30px;
    margin-bottom: 100px;
}

.info-card {
    display: flex;
    flex-direction: column;
    width: 150px;
    gap: 5px;
}

.info-card .image {
    border-color: #3B82F6;
    border-width: 3px;
    border-style: solid;
    border-radius: 15px;
    width: 150px;
    height: 150px;
    overflow: hidden;
}

.info-card .text {
    text-align: center;
}

.quote {
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    padding: 50px 25%;

    & .text {
        font-size: 36px;
        /* light italic */
        font-style: italic;
        font-weight: lighter;
    }

    & .person {
        font-size: 18px;
        font-weight: bold;
        margin-top: 20px;
        align-self: flex-end;
    }
}

.sign-up-container {
    padding: 50px;
    display: flex;
    justify-content: center;
}

.sign-up-box {
    padding: 30px 80px;
    gap: 100px;
    display: flex;
    background-color: #3B82F6;
    color: white;
    border-radius: 10px;
}

.call-to-action {
    font-size: 36px;
    font-weight: 800;
}

.sign-up-box .right {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sign-up-box button {
    border: 2px solid white;
    background-color: #3B82F6;
    color: white;
    padding: 4px 16px;
    border-radius: 5px;
    font-weight: bold;
}

.footer {
    display: flex;
    justify-content: center;
    padding: 50px;
    background-color: #1F2937;
    color: #F9FAF8;
}